<!-- views/ip-cloak.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IP-Based Cloaking</title>
</head>
<body>
    <h1>
        WELCOM , CHOOSE YOURE CLOAKING METHODE
    </h1>
    <ul>
        <li><a href="/ip-cloak">IP CLOAKING</a></li>
        <li><a href="/js-fingerprint-cloak">JS FINGERPRINT CLOAKING</a></li>
        <li><a href="/referrer-cloak">REFERRER CLOAKING</a></li>
        <li><a href="/user-agent-cloak">USER AGENT CLOAKING</a></li>
    </ul>
    
    
    
    
</body>
</html>
