<!-- views/ip-cloak.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IP-Based Cloaking</title>
</head>
<body>
    <h1>
        <% if (fromGoogle) { %>
            Welcome from google
        <% } else { %>
            Welcome, from earth
        <% } %>
    </h1>
</body>
</html>